<%= form_for @profile, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :title, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :skill, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :skill, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :open, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :open, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :github, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :github, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :linkedin, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :linkedin, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ga, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :ga, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :other, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :other, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  profiles_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
